body{
  background: rgb(0, 0, 0);
}

.container{
  height: 100%;
  width: 100%;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.app-image{
  display: flex;
  flex-direction: column;
  width: 500px;
}

#display-image{
  width: 100%;
  height: 500px;
  /* background-image: url('/pictures/chloe.jpg'); */
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.app{
  border: 2px solid rgba(215, 215, 215, 0.412);
  border-radius: 10px;

  padding:50px;
  padding-top: 10px;

  margin-top: 5px;

  background-color: #24282B;
}

.app-photo-picker{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
}


textarea{
  width: 100%;
  resize:vertical;
  border: none;
  padding: 10px;

  overflow: hidden;
  height: 80px;

  outline: none;

  font-weight: 600;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;

}

#btn-download{
  width: 100%;
  font-size: 20px;
  font-weight: bolder;
  padding:10px;
  background-color: orange;
}

.text-box{
  background: black;
  color:white;
}

#meme-list{
  width: 100%;
  font-size: large;
  font-family: sans-serif;
  color: black;
}